body{
    padding: 50px;
    background: url('OIP9.jpg');
}
.container{
    max-width:600px;
    margin:0 auto;
    padding:50px;
    background-color:rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h3{
    text-align: center;
    align-items: center;
    margin-top: 2px;
    color: white;
    font-family:fantasy;
}
 .container label{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #90caf9;
    }
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
    }
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
    align-items: center;
    text-align: center;
 } 